<div class='select mr-2 '>
  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
  <select
    name='sort_by'
    class='bg-white text-black font-proximaRegular !ring-0 font-normal capitalize text-base w-[175px] lg:w-[407px] py-3 px-4 border-solid border border-[#B2B2B2] cursor-pointer'
    id='SortBy'
    tabindex='0'
    aria-describedby='a11y-refresh-page-message'
  >
    {%- for option in collection.sort_options -%}
      <option
        value='{{ option.value | escape }}'
        {% if option.value == sort_by %}
          selected='selected'
        {% endif %}
      >
        {{ option.name | escape }}
      </option>
    {%- endfor -%}
  </select>
</div>
