<div class="px-4 lg:px-20">
  <div class="mb-4">
    <h1 class="h1">Heading h1</h1>
    <h2 class="h2">Heading h2</h2>
    <h3 class="h3">Heading h3</h3>
    <h4 class="h4">Heading h4</h4>
    <h5 class="h5">Heading h5</h5>
    <h6 class="h6">Heading h5</h6>
    <p class="body-large">Body large</p>
    <p class="body-medium">Body medium</p>
    <p class="body-small">Body small</p>
    <p class="body-extra-small">Body extra small</p>
    <p class="display-small">Display small</p>
    <p class="overline">overline</p>
    <p class="badge">Badge</p>
    <p class="menu-item">Menu item</p>
  </div>

  <div class="mb-4">
    <div class="h-10 w-28 bg-netural100"></div>
    <div class="h-10 w-28 bg-netural200"></div>
    <div class="h-10 w-28 bg-netural300"></div>
    <div class="h-10 w-28 bg-netural400"></div>
    <div class="h-10 w-28 bg-netural500"></div>
    <div class="h-10 w-28 bg-netural600"></div>
    <div class="h-10 w-28 bg-netural700"></div>
    <div class="h-10 w-28 bg-netural800"></div>
    <div class="h-10 w-28 bg-netural900"></div>
    <div class="h-10 w-28 bg-netural1000"></div>
  </div>

  <div class="mb-4">
    <div class="h-10 w-28 bg-steelGrey100"></div>
    <div class="h-10 w-28 bg-steelGrey200"></div>
    <div class="h-10 w-28 bg-steelGrey300"></div>
    <div class="h-10 w-28 bg-steelGrey400"></div>
    <div class="h-10 w-28 bg-steelGrey500"></div>
  </div>

  <div class="mb-4">
    <div class="h-10 w-28 bg-lightBlue100"></div>
    <div class="h-10 w-28 bg-lightBlue200"></div>
    <div class="h-10 w-28 bg-lightBlue300"></div>
    <div class="h-10 w-28 bg-lightBlue400"></div>
    <div class="h-10 w-28 bg-lightBlue500"></div>
  </div>

  <div class="mb-4">
    <div class="h-10 w-28 bg-manatee100"></div>
    <div class="h-10 w-28 bg-manatee200"></div>
    <div class="h-10 w-28 bg-manatee300"></div>
    <div class="h-10 w-28 bg-manatee400"></div>
    <div class="h-10 w-28 bg-manatee500"></div>
  </div>

  <div class="mb-4">
    <div class="h-10 w-28 bg-bone100"></div>
    <div class="h-10 w-28 bg-bone200"></div>
    <div class="h-10 w-28 bg-bone300"></div>
    <div class="h-10 w-28 bg-bone400"></div>
    <div class="h-10 w-28 bg-bone500"></div>
  </div>

  <div class="mb-4">
    <button class="button-primary">Button</button>
  </div>

  <div class="mb-4">
    <button class="button-secondary">Button</button>
  </div>

  <div class="mb-4">
    <button class="button-light-blue">Button</button>
  </div>
</div>

{% schema %}
{
  "name": "Gloabl styles",
  "tag": "section",
  "presets": [
    {
      "name": "Global styles"
    }
  ]
}
{% endschema %}
