<!-- This example requires Tailwind CSS v2.0+ -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full">
  <body class="h-full">
  ```
-->
<main class='min-h-full bg-cover bg-center py-48'>
  <div class='max-w-small mx-auto text-center'>
    <p class='mt-2 text-base text-medium'>It looks like the page you’re looking for doesn't exist.</p>
    <div class='mt-6'>
      <a
        href='/'
        class='button-white inline-flex items-center px-4 py-2 font-bold'
      >
        GO TO HOMEPAGE
      </a>
    </div>
  </div>
</main>

{% comment %} test ocmmit {% endcomment %}
